header{
  background-image: url('./assets/bg-react.jpg');
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main{
  margin-bottom: 7vh;
}
.header-text{
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.txtFooterCaC{
  transition: all 0.5s;
}
.txtFooterCaC:hover{
  color: white !important;
}
footer{
  width: 100%;
  height: 7vh;
  padding-top: 0.5vh;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}

/* Show */
#contenedorTabla{
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 60vw;
}
#tablaEquipamentos th{
  text-align: center;
  background-color: rgb(65, 156, 65);
  color: white;
}

#tablaEquipamentos > tbody > tr:hover{
  cursor: pointer;
}

/* Create */
#contenedorForm{
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
}

.container{
  display: flex;
  align-items:center;
  justify-content: center;
}

/* Buscador */
.buscadorContainer {
  display: flex;
  justify-content: center;
}

.buscadorBox {
  position: relative;;
  top: 10px;
}

.buscadorButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
}

.buscadorInput{
  height: 35px;
  border-radius: 10px;
  padding:  5px 30px 5px 10px;
}